body
{
    background-color: blanchedalmond;
}


h1
{
    color: darkcyan;
}

a
{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 16pt;
}

a:hover
{
    color: cadetblue;
    font-size: 18pt;
}